APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=netinsight360
DB_USER=root
DB_PASS=

REMOTE_DB_HOST=10.171.16.120
REMOTE_DB_PORT=3306
REMOTE_DB_NAME=NetPulseAI_NetworkInsight
REMOTE_DB_USER=
REMOTE_DB_PASS=
